.socialButton {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  max-width: 100%;
  margin: auto;
  align-content: space-evenly;
  align-items: baseline;
  justify-content: space-between;
}

.individualButton {
  margin: 10px;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.individualButton .MuiIconButton-root {
  margin-bottom: 10px;
}

.individualButton .MuiTypography-root {
  text-align: center;
}
.button:focus-visible {
  outline-style: none;
  outline: 0;
}
.individualButton .MuiIconButton-root .css-i4bv87-MuiSvgIcon-root {
  font-size: 45px;
  margin-right: 5px;
}

.individualButton .MuiIconButton-root .css-e784if-MuiTypography-root {
  font-size: 1rem;
}
